H1 {
    font-weight: bolder;
    font-size: 4cm;
    text-transform: capitalize;

}
#keret {
    border: 5mm double black;
    border-radius:55px 55px 55px 55px;
    overflow: hidden;
    width:auto;
    height:auto;
}
a.highlight:hover{
color:black;
border:1.9px solid blue;
border-radius:17px;
background-color: red;
transition: 2s;
transition-delay: 0.5s;

}
mark.yus:hover {
    background-color:black;
    color: white;
    transition:3s;
}
H1:hover {
color:blue;
transition:2.3s;
transform-style: flat;
}